body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-align: center;

}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header-container {
  position: sticky;
  top: 0;
  z-index: 2;
}

.header {
  display: flex;
  background-color: #333030;
  align-items: center;
  justify-content: center;
  height: 70px;
  color: #fff;
  padding: 0 10px;
}

.header-logo {
  margin-right: auto;
}



/* product style */
.product-container {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 50px;
}

.product-logo {
  max-height: 200px;
  max-width: 250px;
}

.product {
  max-width: 500px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(201, 199, 199);
  border-radius: 5px;
  box-shadow: 0 6px 18px -2px rgba(0, 0, 0, 0.75);
  padding: 25px;
  line-height: 2.5em;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out-in;

}



.product:hover {
  transform: scale(1.02);
}



.product-btn {
  background: #333030;
  width: 100px;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 5px 20px;
  font-weight: bold;
  cursor: pointer;
}

.product-description {
  width: 90%;
}



/* form styles */


.form {
  justify-content: center;
  width: 60%;
  border: none;
  background-color: #ffffff;
  margin: 20px auto;
  padding: 40px 30px;
  border-radius: 8px;

}

.form input {
  width: 100%;
  padding: 15px;
  margin: 5px;
  border: none;
  box-shadow: 0 1px 0px 0px rgba(72, 108, 73, 0.75);

}

input:focus {
  outline: none;
  box-shadow: 0 1px 0px 0px rgba(100, 205, 107, 0.75);
}

.form>button {
  width: 40%;
  padding: 15px;
  margin: 40px 10px;
  border-radius: 8px;
  border: none;
  background-color: rgb(94, 160, 94);
  font-size: 19px;
  color: white;
  cursor: pointer;
}

.form>button:hover {
  background-color: rgb(59, 122, 59);

}

.form-BG {
  max-width: 100%;
  height: 200px;
}

.form_title {
  color: green;
}

label {
  display: block;
  margin: 10px auto;
  margin-left: -10px;
  text-align: left;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transform: translate(-5em, 2.7em);
  transform-origin: 0, 0;

}

.sock-link {
  color: rgb(71, 56, 167);
  font-size: 20px;
}

/* footer styles */

.form-header {
  margin-top: 10%;
}

.footer {
  display: flex;
  background-color: #333030;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  color: #fff;
  padding: 0 10px;
}

.footer small {
  font-size: 16px;
}



/*Media query  */
@media screen and (max-width: 768px) {
  .product-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;

  }

  .product-description {
    width: 100%;
  }
}